.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttons {
  width: 250px;
  height: 50px;
  margin: 100px auto;
}
.btn {
  background-color: #d3d0d0;
  border: 1px solid rgb(87, 87, 87);
  border-radius: 5px;
  width: 100px;
  height: 50px;
  margin-right: 20px;
}
.dataTable {
  width: 700px;
  margin: 100px auto 0;
}
.table {
  border-collapse: collapse;
  border: 1px dashed grey;
}

.table th,
.table td {
  width: 120px;
  border: 1px dashed grey;
}
.table th {
  border-bottom: 1px solid grey;
}
.table small {
  color: #000;
}
img {
  width: 10px;
  height: 10px;
}
.detailRow {
  border: 1px solid black;
  width: 300px;
  margin: 10px auto;
  padding: 5px;
}
.detailRow textarea {
  resize: none;
  width: 280px;
  height: 110px;
  
}
.pagination {
  list-style: none;
  text-align: center;
}
.page-item,
.break-me {
  display: inline-block;
}
.page-item a,
.break-me a{
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  margin: 3px;
  line-height: 26px;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.active a{
  background-color: #4CAF50;
  color: white;
}
.page-item:not(.active) a:hover,
.break-me a:hover {
  background-color: #ddd;
}